#panel {
	position: fixed;
	top:145px;
	z-index: 2001;
}
#panel.opened-panel{
	z-index: 9999;
}
#panel-admin {
	float: left;
	width: 215px;
	background: #313d50;
	color: #fff;
	z-index: 9999;
	position: relative;
	padding:18px 10px 15px 10px;
	border-radius:0 6px 6px 0;
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 6px 6px 0;
	-o-border-radius: 0 6px 6px 0;
	box-shadow: 0 -5px rgba(0, 0, 0, 0.4) inset;
	-moz-box-shadow: 0 -5px rgba(0, 0, 0, 0.4) inset;
	-webkit-box-shadow: 0 -5px rgba(0, 0, 0, 0.4) inset;
	-o-box-shadow: 0 -5px rgba(0, 0, 0, 0.4) inset;
}

.panel-admin-box{
	display: inline-block;
    padding: 6px 0 0;
    width: 100%;

}
.panel-admin-box .dark, .panel-admin-box .light{
	display:inline-block;
	width:45px;
	height:45px;
	cursor:pointer;
	background-color: #3a485c;
	box-shadow: 0 -5px rgba(0, 0, 0, 0.4) inset;
	-moz-box-shadow: 0 -5px rgba(0, 0, 0, 0.4) inset;
	-webkit-box-shadow: 0 -5px rgba(0, 0, 0, 0.4) inset;
	-o-box-shadow: 0 -5px rgba(0, 0, 0, 0.4) inset;
	background-image: url('img/toolbar_light.png');
	background-position: center 7px;
	background-repeat: no-repeat;
	border-radius:6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
	margin:0 7px 0 0;
}
.panel-admin-box .dark{
	background-image: url('img/toolbar_dark.png');
}
.panel-admin-box .dark.active, .panel-admin-box .dark:hover{
	background-image: url('img/toolbar_dark_hover.png');
	background-color: #e74c3c;
}
.panel-admin-box .light.active, .panel-admin-box .light:hover{
	background-image: url('img/toolbar_light_hover.png');
	background-color: #e74c3c;
}

#panel-admin h4{
	color: #fff;
	margin: 0px 0px 8px 0px;
	padding: 0px 0px;
	font-family: 'Roboto',sans-serif !important;
	font-size: 16px !important;
	line-height:22px !important;

	
}

#panel-admin p{
	margin: 0px;
	padding: 0px;
	color: #7a7a7a !important;
	font-size: 13px !important;
	line-height: 18px !important;
	font-family: 'PT Sans',sans-serif !important;
	font-weight: 400 !important;
}

.panel-admin-options-holder{
	display:inline-block;
	width:100%;
}

.open{
	background-image: url('img/options_close.png');
	background-position: center 9px;
	background-repeat: no-repeat;
	background-color: #3a485c;
	box-shadow: 0 -5px rgba(0, 0, 0, 0.4) inset;
	-moz-box-shadow: 0 -5px rgba(0, 0, 0, 0.4) inset;
	-webkit-box-shadow: 0 -5px rgba(0, 0, 0, 0.4) inset;
	-o-box-shadow: 0 -5px rgba(0, 0, 0, 0.4) inset;
	border-radius:6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
	display: block;
	width:45px;
	height:45px;
	float: right;
	margin: 0px 0px 0px 4px;
	z-index: 1000;
	position: relative;
}

.open:hover,
.open.opened{
	background-image: url('img/options_open.png');
	background-color: #e74c3c;
}
.panel-admin-box .dark.button_pressed, .panel-admin-box .light.button_pressed, .open.button_pressed
{
	margin-top: 5px;
	height: 40px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
}
/* Stylish select - start */

.stylish-select .SSContainerDivWrapper {
	padding:0;
	width:215px;
	position:absolute;
	top:38px;
	left:0;
	z-index:2;
	border-radius:0 0 6px 6px;
	-moz-border-radius:0 0 6px 6px;
	-webkit-border-radius:0 0 6px 6px;
	-o-border-radius:0 0 6px 6px;
	overflow: hidden;
	margin: -3px 0 0;
}

.stylish-select ul.newList {
	margin:0;
	padding:0;
	list-style:none;
	color:#fff;
	background:#283243;
	overflow:auto;
	border-radius:0 0 6px 6px;
	-moz-border-radius:0 0 6px 6px;
	-webkit-border-radius:0 0 6px 6px;
	-o-border-radius:0 0 6px 6px;
}

.stylish-select ul.newList * {
	margin:0;
	padding:0;
}


.stylish-select ul.newList li {
	color: #fff;
	text-decoration:none;
	display:block;
	padding:0px 3px;
}

.stylish-select ul.newList li a {
	color: #fff;
	text-decoration:none;
	display:block;
	padding:0px 7px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
}
.stylish-select .newListSelected {
	width:100%;
	color:#fff;
	height:38px;
	line-height: 38px;
	padding:0px;
	background-image:url('img/toolbar_select_bg.png');
	background-position: right center;
	background-repeat: no-repeat;
	background-color: #283243;
	font-size: 13px;
	text-align: left;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
}

.stylish-select ul.newList li a:focus {
	-moz-outline-style: none;
}

.stylish-select .selectedTxt {
	overflow:hidden;
	height:38px;
	padding:0px 10px;
}

.stylish-select .hiLite {
	background-image:url('../img/hlite.png');
	background-position: right center;
	background-repeat: no-repeat;
}

.stylish-select .newListHover {
	background-color:#e74c3c!important;
	color:#ffffff!important;
	cursor:default;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
}

.stylish-select .newListDisabled {
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

.stylish-select .newListItemDisabled {
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

.stylish-select .newListOptionDisabled {
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

.stylish-select .newListSelHover,
.stylish-select .newListSelFocus {
	cursor:default;
}

.stylish-select .newListOptionTitle {
	font-weight:bold;
}

.stylish-select .newListOptionTitle ul {
	margin:3px 0 0;
}

.stylish-select .newListOptionTitle li {
	font-weight:normal;
}

/* Stylish select - end */